<!-- mouse over to see the assigned units ? -->
<!-- div box with current assigned units and their status -->
<!-- div slide out from the table -->


<script>
$( document ).ready(function() {

});
</script>
<style type="text/css">
.hiddenRow {
    padding: 0 !important;
}
</style>

<table id="current-incidents" class="table table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Call #</th>
      <th>Nature</th>
      <th>Address</th>
      <th>City</th>
      <th>County</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <tr class="accordion-toggle collapsed"  data-toggle="collapse" data-target="#collapseTwo">
          <th>234151</th>
          <td> Fire, Residental Structure</td>
          <td> 230 SCHOOL ST</td>
          <td> DUNCAN </td>
          <td> SPARTANBURG </td>
          <td> 00.000000 </td>
          <td> 00.000000 </td>
      </tr>
      <tr>
          <td colspan="7" class="hiddenRow">

            <div id="collapseTwo" class="accordian-body collapse">
              <a style="float:left; margin-right:40px;" class="btn btn-danger" href="#">
                <i class="fa fa-terminal"></i> Edit
              </a>
              <div id="data" style="font-size:large">
           - [ 2016-07-21 04:34:54 ] E-1,
              E-3,
              E-4
              {ON SCENE}
            </div>

           </div>
         </td>

     </tr>


      <tr data-toggle="popover" data-placement="bottom" data-content="this is example data Vivamus
sagittis lacus vel augue laoreet rutrum faucibus." data-container="body">
          <th scope="row">234151</th>
          <td> Fire, Residental Structure</td>
          <td> 230 SCHOOL ST</td>
          <td> DUNCAN </td>
          <td> SPARTANBURG </td>
          <td> 00.000000 </td>
          <td> 00.000000 </td>
      </tr>
      <tr data-toggle="popover" data-placement="bottom" data-content="this is example data Vivamus
sagittis lacus vel augue laoreet rutrum faucibus." data-container="body">
          <th>234151</th>
          <td> Fire, Residental Structure</td>
          <td> 230 SCHOOL ST</td>
          <td> DUNCAN </td>
          <td> SPARTANBURG </td>
          <td> 00.000000 </td>
          <td> 00.000000 </td>
      </tr>
      <tr>
          <th>234151</th>
          <td> Fire, Residental Structure</td>
          <td> 230 SCHOOL ST</td>
          <td> DUNCAN </td>
          <td> SPARTANBURG </td>
          <td> 00.000000 </td>
          <td> 00.000000 </td>
      </tr>
      <!-- <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>-->

    </tr>
  </thead>

    <!-- dynamic code below -->
  <!--  <p>{{testdata }} </p>
    {% for item in Units %}
    <tr>
        <th scope="row"> {{ item.handle }} </th>
        <td> {{ item.name }} </td>
        <td> {{item.typeid }} </td>
        <td> facility </td>
    </tr>
    {% endfor %}
  -->
  </tbody>
</table>
