<!-- mouse over to see the assigned units ? -->
<!-- div box with current assigned units and their status -->
<!-- div slide out from the table -->


<script>
$( document ).ready(function() {

});
</script>
<style type="text/css">
.hiddenRow {
    padding: 0 !important;
}
</style>

<table id="current-incidents" class="table table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Call #</th>
      <th>Nature</th>
      <th>Address</th>
      <th>City</th>
      <th>County</th>
      <th>Latitude</th>
      <th>Longitude</th>

        {% for item in incidents %} <!-- dynamic data -->
            <tr class="accordion-toggle collapsed"  data-toggle="collapse" data-target="#details{{item.id}}"> <!-- create a row -->
            <th scope="row"> {{ item.id }} </th>
            <td> {{ item.nature }} </td>
            <td> {{item.location }} </td>
            <td> {{item.location.city}}</td>
            <td> {{item.location.county}} </td>
            <td> {{item.location.lat}} </td>
            <td> {{item.location.lng}} </td>
            </tr> <!-- end the row -->

            <tr> <!-- start details view space -->
                <td colspan="7" class="hiddenRow">

                  <div id="details{{item.id}}" class="accordian-body collapse">
                    <a style="float:left; margin-right:40px;" class="btn btn-danger" href="#">
                      <i class="fa fa-terminal"></i> open
                    </a>
                    <div id="data" style="font-size:large">
                 - [ 2016-07-21 04:34:54 ] E-1,
                    E-3,
                    E-4
                    {ON SCENE}
                  </div>

                 </div>
               </td>

           </tr> <!-- end details view space -->
        {% endfor %}


  </thead>

    <!-- dynamic code below -->
    <!--
    {% for item in incidents %}
    <tr>
        <th scope="row"> {{ item.id }} </th>
        <td> {{ item.location }} </td>
        <td> {{item.nature }} </td>
        <td> facility </td>
    </tr>
    {% endfor %}-->

  </tbody>
</table>
